<div class="puntos-pagina">

  <app-header-statill></app-header-statill> <!-- esto va a terminar siendo el header del figma -->

  <div class="puntos-seccion">
    <h1>mis puntos:</h1>
    <div *ngFor="let prueba of probando">
      <div class="cartel-comercio">
        <div class="seccion-izquierda-cartel">
          <img src="{{prueba.imagen}}" alt="pokoko">
          <div class="texto">
              <h2 class="asd roboto">{{prueba.nombre}}: <span>{{prueba.puntos}} pts.</span></h2>
              <h3 class="gris roboto">1 punto equivale a ???</h3>
          </div>
        </div>
        <button type="button" routerLink="/home" class="boton-link">manda pa' {{prueba.nombre}}</button>
      </div>
    </div>
  </div>
</div>

