<div class="puntos-pagina">

  <app-sidebar></app-sidebar> <!-- esto va a terminar siendo el header del figma -->

  <div class="puntos-seccion">
    <h1>mis puntos:</h1>
    <div *ngFor="let prueba of probando">
      <div class="cartel-comercio">
        <img src="{{prueba.imagen}}" alt="pokoko">
        <div class="texto">
            <h2>{{prueba.nombre}}: <span>{{prueba.puntos}} pts.</span></h2>
            <h3>1 punto equivale a ???</h3>
        </div>
        <button type="button" routerLink="/home" class="boton-link">manda pa' la home</button>
      </div>
    </div>
  </div>
</div>

