
<div class="pagina-perfil">
  <div class="perfi-izquierda">
    <div class="seccion-personal">
      <img src="" alt="nadita">
      <h1>nombre</h1>
      <h2>nombre&#64;gmail.com</h2>
    </div>
    <div class="seccion-botones">
      <button class="boton-editar"><a routerLink="/home">Home</a></button>
      <button class="boton-editar"><a routerLink="/home">Mapa</a></button>
      <button class="boton-editar"><a routerLink="/home">Puntos</a></button>
      <button class="boton-cerrar-sesion">Vendedor</button>
    </div>
  </div>

  <div class="perfil-derecha">
    <h1>Mi Cuenta</h1>
    <div class="perfil-botones">
      <h2>Perfil</h2>
      <button type="button">Información Personal</button>

      <h2>Soporte</h2>
      <button type="button" class="hola">Terminos y condiciones</button>
      <button type="button">Quejarse</button>

      <h2>Opciones</h2>
      <button type="button">Cerrar Sesion</button>
    </div>
  </div>
</div>
