<div class="pagina-perfil">
  <div class="perfi-izquierda">
    <div class="seccion-personal">
      <img src="assets/img/perfil-statill.png" alt="avatar perfil">
      <h2>Juan Pérez</h2>
      <h3>juanchiperez&#64;gmail.com</h3>
    </div>
    <div class="seccion-botones">
      <button routerLink="/home">
        <img src="assets/img/home-statill.png" alt="icono home" class="icono-menu" /> Home
      </button>
      <button routerLink="/mapa">
        <img src="assets/img/mapa-pin-statill.png" alt="icono mapa" class="icono-menu" /> Mapa
      </button>
      <button routerLink="/puntos">
        <img src="assets/img/puntos-statill.png" alt="icono puntos" class="icono-menu" /> Puntos
      </button>
      <button class="boton-vendedor" style="background-color: red;" routerLink="/crear-comercio">
        <img src="assets/img/vendedor-statill.png" alt="icono puntos" class="icono-menu" /> Vendedor
      </button>
    </div>
  </div>

  <div class="perfil-derecha">
    <h1>Mi cuenta</h1>
    <div class="perfil-botones">
      <h2>Soporte</h2>
      <button type="button">Problemas</button>
      <h2>Perfil</h2>
      <button type="button">Información personal</button>
      <button type="button" routerLink="/preordenes">Historial</button>
      <h2>Opciones</h2>
      <button type="button">Cerrar sesión</button>
    </div>
  </div>
</div>
