.header-nav{
  display: flex;
  align-items: center;
  background-color: #f8f9fa;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
}

.menu-perfil{
  background: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.boton-header{
  border: none;
  font-size: 1rem;
  font-weight: 800;
  cursor: pointer;
  height: 80%;
  width: 100%;
}

.seccion-izquierda{
  display: flex;
  align-items: center;
  margin-left: 10%;
}

.espacio{
  width: 80%; //hola
  height: 100%;
}
