<nav class="header-nav">
  <div class="seccion-cuenta">
    <button type="button" *ngIf="!menuAbierto" routerLink="/perfil">Cuenta</button>
    <button type="button" (click)="toggleMenu()">asdada</button>
    <div *ngIf="menuAbierto">
      <button type="button" routerLink="/perfil">Cuenta</button>
      <button type="button" routerLink="/puntos">Puntos</button>
      <button type="button" routerLink="/perfil">Cuenta</button>
    </div>
  </div>
  <div class="logo">
    <img src="assets/img/statill-header.png" alt="logo de statill">
  </div>
  <div>
    <a routerLink="/mapa">Mapa</a>
  </div>
</nav>
