<div class="header-pagina">
  <div class="header-nav">
    <div class="seccion-izquierda">
      <button type="button" class="boton-header" routerLink="/perfil">
        <img src="assets/img/perfil-statill.png" alt="icono perfil" class="icono-menu" />
        Cuenta
      </button>
      <button type="button" class="boton-toggle" (click)="toggleMenu()">
        <span>▼</span>
      </button>
      <div class="menu-perfil" *ngIf="menuAbierto">
        <button type="button" routerLink="/preordenes">
          <img src="assets/img/perfil-statill.png" alt="">
          <span class="icono-menu"></span>
          Cuenta
        </button>
        <button type="button" routerLink="/puntos">
          <span class="icono-menu"></span>
          <img src="assets/img/icono-puntos.png" alt="">
          Puntos
        </button>
        <button type="button" routerLink="/crear-comercio" class="boton-rojo">
          <img src="assets/img/Cambiar-modo.png" alt="">
          Vendedor
        </button>
      </div>
    </div>

    <div class="logo-centro">
      <img src="assets/img/statill-header.png" alt="logo de statill">
    </div>

    <div class="seccion-derecha">
      <button type="button" class="boton-header" routerLink="/mapa">
        <img src="assets/img/mapa-pin-statill.png" alt="icono mapa" class="icono-menu" />
        Mapa
      </button>
    </div>
  </div>
</div>

