<div class="header-nav">
  <div class="seccion-cuenta">
    <div class="seccion-izquierda">
      <div class="espacio"><button type="button" class="boton-header" *ngIf="!menuAbierto" routerLink="/perfil">Cuenta</button></div>
      <button type="button" (click)="toggleMenu()">></button>
    </div>
    <div class="menu-perfil" *ngIf="menuAbierto">
      <button type="button" routerLink="/perfil">Cuenta</button>
      <button type="button" routerLink="/puntos">Puntos</button>
      <button type="button" routerLink="/perfil">Cuenta</button>
    </div>
  </div>
  <div class="logo">
    <img src="assets/img/statill-header.png" alt="logo de statill">
  </div>
  <div>
    <button type="button" class="boton-header" routerLink="/mapa">Mapa</button>
  </div>
</div>
