<div class="puntos-pagina">
  <app-header-statill></app-header-statill>
  <!-- esto va a terminar siendo el header del figma -->

  <div class="puntos-seccion">
    <h1>Mis preórdenes:</h1>
    <div *ngFor="let prueba of probando; let i = index">
      <div class="cartel-comercio">
        <div class="seccion-izquierda-cartel">

          <img [src]="prueba.imagen" alt="store image" (error)="onImgError($event)" />

          <div class="texto" [ngClass]="{ detalles: descripcion === i }">

            <h2 class="asd roboto">
              <span>
                [{{ prueba.status.toUpperCase() }}] Pedido {{ i + 1 }}
                ({{ prueba.created_at_iso | date:'HH:mm' }}):
              </span>
              {{ prueba.store.data.name }}
            </h2>

            <div class="gris roboto">
              <div *ngFor="let prod of prueba.productsFull">
                {{ prod.name }} × {{ prod.quantity }}
              </div>
              <div class="TextosPago">
                <span>Precio: ${{ prueba.totalPrice }} ......................... Método de pago: {{ prueba.convertedPaymentMethod}}</span>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>