<div class="auth-container">
  <a routerLink="/landing">
    <img src="assets/img/logo.png" alt="Logo Statill" />
  </a>

  <h2>{{ isLogin ? 'Iniciar sesión' : 'Crear cuenta' }}</h2>

  <form>
    <ng-container *ngIf="!isLogin">
      <input type="text" placeholder="Nombre completo" />
    </ng-container>

    <input type="email" placeholder="Correo electrónico" />
    <input type="password" placeholder="Contraseña" />

    <button class="btn" type="submit">
      {{ isLogin ? 'Entrar' : 'Registrarme' }}
    </button>
  </form>

  <p class="link">
    {{ isLogin ? '¿No tenés cuenta?' : '¿Ya tenés cuenta?' }}
    <a (click)="toggleMode()" style="cursor: pointer;">
      {{ isLogin ? 'Registrate acá' : 'Iniciar sesión' }}
    </a>
  </p>
</div>
