<button type="button" class="boton-sidebar-fijo" (click)="toggleSidebar()">☰</button>
<div *ngIf="isExpanded" class="sidebar sidebariwis">
  <div class="sidebariwis-nav">
    <ul>
      <div class="items" *ngIf="vendedor">
        <li *ngFor="let item of menuItemsVendedor">
          <ng-container *ngIf="activeItem === item.id">
            <span class="active-dot"></span>
          </ng-container>
          
          <a
            [routerLink]="item.path"
            routerLinkActive="active"
            [class.active]="activeItem === item.id"
            (click)="setActive(item.id)"
          >
            <!-- Acá va la imagen correspondiente a "{{item.id}}" -->
            <div class="icon-placeholder">
              <i [class]="item.icon"></i>
            </div>
            <span>{{ item.text }}</span>
          </a>
        </li>
      </div>
      <div class="items" *ngIf="!vendedor">
        <li *ngFor="let item of menuItemsComprador">
          <ng-container *ngIf="activeItem === item.id">
            <span class="active-dot"></span>
          </ng-container>
          
          <a
            [routerLink]="item.path"
            routerLinkActive="active"
            [class.active]="activeItem === item.id"
            (click)="setActive(item.id)"
          >
            <!-- Acá va la imagen correspondiente a "{{item.id}}" -->
            <div class="icon-placeholder">
              <i [class]="item.icon"></i>
            </div>
            <span>{{ item.text }}</span>
          </a>
        </li>
      </div>
    </ul>
    <div class="comprador-btn-container">
      <button class="comprador-btn" (click)="toggleVendedor()">
        <!-- Acá va la imagen correspondiente a "comprador" -->
        <span>{{vendedor ? 'Comprador' : 'Vendedor'}}</span>
      </button>
    </div>
  </div>
</div>