<button type="button" class="boton-sidebar-fijo" (click)="toggleSidebar()">
  ☰
</button>
<div *ngIf="!isExpanded" class="sidebar sidebariwis">
  <div class="sidebariwis-nav">
    <ul>
      <ng-container *ngFor="let item of currentMenuItems">
        <li>
          <ng-container *ngIf="activeItem === item.id">
            <span class="active-dot"></span>
          </ng-container>
          <a
            [routerLink]="item.path"
            routerLinkActive="active"
            [class.active]="activeItem === item.id"
            (click)="setActive(item.id)"
          >
            <div class="icon-placeholder">
              <img [src]="item.icon" [alt]="item.text" />
            </div>
            <span>{{ item.text }}</span>
          </a>
        </li>
      </ng-container>

      <li class="switch-item">
        <button class="comprador-btn" type="button" (click)="toggleVendedor()">
          <img [src]="toggleIcon" [alt]="toggleAlt" class="btn-icon" />
          <span>{{ toggleLabel }}</span>
        </button>
      </li>
    </ul>
  </div>
</div>
