<div class="sidebar sidebariwis">
  <div class="sidebariwis-nav">
    <ul>
      <li *ngFor="let item of menuItems">
        <ng-container *ngIf="activeItem === item.id">
          <span class="active-dot"></span>
        </ng-container>
        <a 
          [routerLink]="item.path" 
          routerLinkActive="active"
          [class.active]="activeItem === item.id"
          (click)="setActive(item.id)"
        >
          <i [class]="item.icon"></i>
          <span>{{ item.text }}</span>
        </a>
      </li>
    </ul>
    <div class="comprador-btn-container">
      <button class="comprador-btn">
        <i class="fas fa-person-walking"></i> Comprador
      </button>
    </div>
  </div>
</div>