<app-sidebar></app-sidebar>

<div class="pagina-catalogo">
  <div class="contenedor-catalogo">
    <div class="agregar-producto">
      <div class="agregar-header">
        <i class="fas fa-plus"></i>
        <span>Agregar un producto</span>
      </div>
      <div class="agregar-form">
        <select [(ngModel)]="selectedProductoId">
          <option [ngValue]="null">Selecciona un producto...</option>
          <option *ngFor="let prod of productos" [ngValue]="prod.id">
            {{ prod.name }}
          </option>
        </select>
        <button
          type="button"
          (click)="agregarProducto()"
          [disabled]="!selectedProductoId"
        >
          <i class="fas fa-plus"></i> Añadir
        </button>
      </div>
    </div>

    <div *ngFor="let producto of productosCatalogo" class="producto-card">
      <div class="producto-img">
        <img *ngIf="producto.imagen" [src]="producto.imagen" alt="img" />
        <i *ngIf="!producto.imagen" class="fas fa-image"></i>
      </div>
      <div class="producto-info">
        <h2>{{ producto.name }}</h2>
        <p>{{ producto.desc }}</p>
        <p><b>Marca:</b> {{ producto.brand }}</p>
        <p><b>Cantidad:</b> {{ producto.quantity }}</p>
        <p><b>Barcode:</b> {{ producto.barcode }}</p>
      </div>
      <div class="producto-precio">${{ producto.price }}</div>
      <div class="producto-edit">
        <i class="fas fa-edit"></i>
      </div>
    </div>
  </div>
</div>
