@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap");
$font-family: "Poppins", sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");
$font-family-secundaria: "Roboto Condensed", sans-serif;

* {
  margin: 0;
  padding: 0;
  font-family: $font-family;
}

.roboto {
  font-family: $font-family-secundaria;
}

.error,
.success {
  background-color: #fee2e2;
  color: #991b1b;
  border: 1px solid #fca5a5;
  width: auto;
  height: auto;
  padding: 300px;
  font-size: 1.2rem;
  position: fixed;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  &.success {
    background-color: #d1fae5;
    color: #065f46;
    border: 1px solid #6ee7b7;
  }
}
