.ajustes-botones {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.boton-configuracion {
  margin: 1%;
  width: 20%;
  height: 50px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
