<app-header-statill></app-header-statill>
<div class="ajustes-botones">
  <button type="button" class="boton-configuracion">Cambiar Horarios</button>
  <button type="button" class="boton-configuracion">Cambiar nombre logo o descripcion</button>
  <button type="button" class="boton-configuracion">Cambiar ubicacion</button>
  <select name="tipo" class="boton-configuracion">
    <option value="Local">Local</option>
    <option value="Restaurante">Restaurante</option>
    <option value="tienda">Tienda</option>
    <option value="bar">Bar</option>
  </select>
  <label>
    <input type="checkbox" name="preorder" ngModel>
    Permitir pre-orden
  </label>
</div>
<app-comercio-header></app-comercio-header>

