<div class="suscriptores">
  <h2>Suscriptores de tu comercio</h2>

  <table *ngIf="suscriptores.length > 0; else noSuscriptores">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Puntos</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of suscriptores">
        <td>{{ user.nombre }}</td>
        <td>{{ user.correo }}</td>
        <td>{{ user.puntos }}</td>
      </tr>
    </tbody>
  </table>

  <ng-template #noSuscriptores>
    <p class="empty">Todavía no tenés suscriptores.</p>
  </ng-template>
</div>
